.round-100 {
    height: 76px;
    width: 76px;
}

.v-container {
      &.max-width-1218 {
          max-width: 1218px !important;
      }

  }

  .v-container {
      &.max-width-800 {
          max-width: 800px !important;
      }

      &.max-width-1000 {
          max-width: 1000px !important;
      }
  }
