@font-face {
  font-family: 'NFLpackers';  
  src: url('@/assets/fonts/NFL Packers.woff2') format('woff2');
}

@font-face {
  font-family: 'ZwiftSprint';  
  src: url('@/assets/fonts/ZwiftSprint-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'FreestyleScript';  
  src: url('@/assets/fonts/Freestyle-Script.woff2') format('woff2');
}
